<!DOCTYPE html>
<html lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
</head>
<body>
    <h2>Editar Usuários</h2>
    <form action="/usuario/updateUsuario" method="post" th:object="${editarUsuario}">
        <div>
            <label for="nomeUpd">Nome:</label>
            <input type="text" name="nome" th:field="*{nome}" id="nomeUpd">
            <input type="hidden" name="codUser" th:field="*{codUser}">
        </div>
        <div>
            <label for="usuarioUpdate">Usuário</label>
            <input type="text" name="usuario" th:field="*{usuario}" id="usuario">
        </div>
        <div>
            <label for="senhaUpdate">Senha:</label>
            <input type="password" name="senha" th:field="*{senha}" id="senha">
        </div>
        <div>
            <button type="submit">Atualizar</button>
        </div>
        <a href="../">Voltar</a>
    </form>
</body>
</html>